{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}

{% block login %}

<div class="container" style="color: white; display:flex; justify-content: center">
    <div style="width:30vw; margin-top:15vh;">
        <h1>Social Login</h1>


<!--<a href = "/login/signup">회원가입</a>-->
<!--<br>-->

        {% if user.is_authenticated %}
            <a href = "/login/logout">로그아웃</a>
            {{user.username}} 님이 로그인중
        {% else %}
            <div>
            <div style="display:flex; flex-direction: row">
                <div>
                    <a href="{% provider_login_url 'google' %}" class="btn btn-outline-light" role="button"
                       aria-pressed="true"
                       style="width:200px;font-size: 1.5em; font-weight:bold; border-width:3px; padding: 15px 30px; margin-right:20px;">GOOGLE</a>
                </div>
                <div>
                    <a href="{% provider_login_url 'naver' %}" class="btn btn-outline-light" role="button"
                       aria-pressed="true"
                       style="width:200px;font-size: 1.5em; font-weight:bold; border-width:3px; padding: 15px 30px; margin-right:20px;">NAVER</a>
                </div>
            </div>
            <div style="margin-top: 10px;">
                <a href="/login/signup" class="btn btn-outline-light" role="button"
                   aria-pressed="true"
                   style=" width:420px;font-size: 1.5em; font-weight:bold; border-width:3px; padding: 15px 30px;">회원가입</a>
            </div>

        {% endif %}
        </div>
    </div>
</div>

{% endblock %}

