{% extends 'base.html' %}


{%  block head_show %}
    <main role="main">

    <section class="jumbotron text-center">

        <div class="container">
            <h1> E-tem E-tem </h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
                etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </section>
    <!--여기까지 상단 부분-->
</main>
{% endblock %}



{% block content %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>

<body>
<main role="main">

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for ppt in template_list %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a href="{{ ppt.detail_page }}" target="_blank">
                            <img src={{ ppt.img_src }} height="200" width="350" style="align-items: center">
                        </a>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">
                                <a href="{% url 'add_one_to_cart' ppt.id %}">장바구니 담기</a>
                            </button>
<!--                            <form action="/count/{{ppt.id}}/" method="post">-->
<!--                                {% csrf_token %}-->
                                <button type="button" class="btn btn-sm btn-outline-secondary" name="download" value="{{ppt.id}}">
                                    <a href="{% url 'add_one_to_download_list' ppt.id %}">개별 다운로드</a>
                                </button>
<!--                            </form>-->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
        <div class="pagination ">
    <span class="d-flex ">
        {% if template_list.has_previous %}
            <li class="page-item "><a href="?page=1" class="page-link">&laquo; 첫 페이지</a></li>
        {% endif %}

        {% if template_list.number > 5 %}
        <li class="page-item "><a href="?page={{ previous_block }}" class="page-link">이전</a></li>
        {% endif %}

        {% for i in p_range %}
        {% if template_list.number == i %}
        <li class="page-item active"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
        {% else %}
        <li class="page-item "><a href="?page={{i}}" class="page-link" >{{i}}</a></li>
        {% endif %}
        {% endfor %}

        {% if template_list.number < template_list.paginator.num_pages  %}
            <li class="page-item "><a href="?page={{ next_block }}" class="page-link">다음</a></li>
        {% endif %}
        {% if template_list.has_next %}
            <li class="page-item "><a href="?page={{ template_list.paginator.num_pages }}" class="page-link">마지막 페이지 &raquo;</a></li>
        {% endif %}

    </span>
</div>
    </div>
</main>
</body>

<!--여기에 ajax로 장바구니 담기-->
<script>


</script>
{% endblock %}