<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
          integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
            integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
            crossorigin="anonymous"></script>

    <!--bootstrap code-->
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/album/">

    <!-- Bootstrap core CSS -->
    <link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .pagination {
            justify-content: center;
        }

        .page_number > a.active {
            color: pink;
        }

    </style>


    <link href="templates/main/main.css" rel="stylesheet">
</head>


<body>

<div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-muted">Add some information about the album below, the author, or any other background
                    context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them
                    off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Contact</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Follow on Twitter</a></li>
                    <li><a href="#" class="text-white">Like on Facebook</a></li>
                    <li><a href="#" class="text-white">Email me</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2"
                 viewBox="0 0 24 24" focusable="false">
                <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/>
                <circle cx="12" cy="13" r="4"/>
            </svg>
            <strong>Album</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
</header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1> PTPick! </h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
                etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </section>
    <!--여기까지 상단 부분-->


    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for ppt in object_list %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <a href="{{ ppt.detail_page }}" target="_blank">
                                <img src={{ ppt.img_src }} height="200" width="350" style="align-items: center">
                            </a>
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                    <a href="{% url 'add_one_to_cart' ppt.id %}" onclick="javascript:one_cart_added_success()">장바구니 담기</a>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                    <a href="{{ ppt.download_link }}">개별 다운로드</a>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!--페이지 넘기는 코드-->
            <ul class="pagination">
                <li class="page-item">    <!-- Jump to First Page -->
                    {% if object_list.number != 1 %}
                        <li class="previous">
                            <a href="?page=1">
                                <span aria-hidden="true">&laquo;</span></a>
                            {% else %}
                        <li class="previous disabled">
                        <a><span aria-hidden="true">&laquo;</span></a>
                    {% endif %}
                    </li>
                <li class="page-item">  <!-- Jump to Prvious Page -->
                    {% if object_list.has_previous %}
                        <li class="previous"><a href="?page={{ object_list.previous_page_number }}">
                            <span aria-hidden="true">‹</span></a>
                            {% else %}
                        <li class="previous disabled"><a>‹</a>
                    {% endif %}
                    </li>
                {% if object_list.has_previous %}
                    <li class="page-item">  <!-- Show Previous 4 page numbers -->
                    <li class="previous"><a class="skip_prev" href="">...</a></li>
                {% else %}
                    <li class="next disabled"><a>...</a>
                {% endif %}
                </li>
                {% for i in "1234567891" %}
                    <!-- Change the range ("12345") according to your choice to show numbers -->
                    <li class="pg" data= {{ i }}><a class="page_number" href=""> </a>
                {% endfor %}

                {% if object_list.has_next %}
                    <li class="page-item">  <!-- Show next 4 page numbers -->
                    <li class="previous"><a class="skip_next" href="">...</a></li>
                {% else %}
                    <li class="next disabled"><a>...</a>
                {% endif %}
                </li>
                <li class="page-item">  <!-- Jump to Next Page -->
                    {% if object_list.has_next %}
                        <li class="previous"><a href="?page={{ object_list.next_page_number }}">›</a></li>
                    {% else %}
                        <li class="next disabled"><a>›</a>
                    {% endif %}
                    </li>
                <li class="page-item">  <!-- Jump to Last Page -->
                    {% if object_list.number != object_list.paginator.num_pages %}
                        <li class="previous"><a href="?page={{ object_list.paginator.num_pages }}">»</a>
                        </li>
                    {% else %}
                        <li class="next disabled"><a>»</a>
                    {% endif %}
                    </li>
            </ul>
            <!--여기까지 페이지 넘기는 코드-->
        </div>
    </div>
    </div>


</main>


<!--푸터 -->
<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a
                href="/docs/4.5/getting-started/introduction/">getting started guide</a>.</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="/docs/4.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
        crossorigin="anonymous"></script>
<!--푸터-->


<!--js 코드-->
<script>

    function one_cart_added_success(){
        alert('장바구니에 템플릿이 담겼습니다.')
    }


    $(document).ready(function () {

        var skip_pages = 10; //change your number accordingly you want to show numbers
        var total_pages = {{ object_list.paginator.num_pages }};
        var current_page = {{ object_list.number }};
        var factor = Math.floor(current_page / skip_pages);



        $(".page_number").each(function (i, obj) {   //Showing the discrete numbers

            var page = factor * (skip_pages) + i + 1;
            if (current_page % skip_pages == 0)
                page = (factor - 1) * skip_pages + i + 1;
            if (page - 1 < total_pages) {
                $(this).html(page);
                $(this).attr("href", "?page=" + page);
            } else {
                var x = i + 1;
                $('li[data=' + x + ']').css("display", "none");
            }


        });
        var page = current_page % skip_pages;
        if (page == 0)
            page = skip_pages;
        $('li[data=' + page + ']').each(function () {   //Deciding the active class

            $('li[data=' + page + ']').addClass("active");
        });

        $(".skip_next").click(function () {   //Skip next … Function

            if (current_page % skip_pages == 0)
                factor = factor - 1;
            var page = (factor + 1) * skip_pages + 1;
            if (page < total_pages)
                $(this).attr("href", "?page=" + page);
            else
                $(this).attr("href", "?page=" + total_pages);
        })
        $(".skip_prev").click(function () { //Skip Previous … Function

            if (current_page % skip_pages == 0)
                factor = factor - 1;
            var page = skip_pages * (factor - 1) + 1;
            if (page > 0)
                $(this).attr("href", "?page=" + page);
            else
                $(this).attr("href", "?page=" + "1");
        })
    })

</script>

</body>