{% load staticfiles %}
{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta name="theme-color" content="#563d7c">
</head>

<body>

<!--navbar-->
<div class="navbar" style="opacity: 0.8; z-index: 9999; ">
    <a href="{% url 'main' %}" class="navbar-brand">
        <div class="logo" style="color: lightcoral; font-family: 'Lemonada', cursive"><strong>E-tem E-tem</strong></div>
    </a>

    {% if user.is_authenticated %}
        <div class="logout">
            <a href="{% url 'mypage' %}" style="color:#F6CED8; text-decoration: none">My page</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/allauth/logout " style="color:#F6CED8; text-decoration: none"> 로그아웃 </a>
        </div>
    {% else %}
        <div class="login">
            <a href="{% url 'loginhome' %}" style="color:#F6CED8; text-decoration: none"> 로그인 </a></div>
    {% endif %}

</div>

{% if user.is_authenticated %}
{% block head_show %}
{% endblock %}
{% endif %}


{% block content %}
{% endblock %}

<!--footer-->
<footer class=" text-muted " style="opacity: 0.8; z-index: 9999;">
    <div class="container ">
        <p class="float-right ">
            <a href="#" style="color: #6c757d; text-decoration: none;font-family: Noto Sans JP;">Back to top ▲</a>
        </p>
        <p class="footer-p" style="font-family: Noto Sans JP;">&copy; Pirogramming-13th_E-tem-E-tem<br>
        <span class="name">김하경, 손희우, 손영준, 최상윤, 신민지</span></p>
    </div>
</footer>

</body>

</html>